<section id="contact">
    <h2 class="">< /contact></h2>

    <div class="container my-5">
        <form class="d-flex flex-column mx-auto w-50 mt-5" id="#contact-form">

            <input type="text" id="fname" name="firstname" placeholder="Prénom">
            <input type="text" id="lname" name="lastname" placeholder="Nom">
            <input type="email" id="email" name="email" placeholder="Email">
            <textarea id="subject" name="subject" placeholder="Message" style="height:200px"></textarea>
            <input class="btn btn-contact mx-auto mt-3" type="submit" value="Envoyer">

        </form>
    </div>

</section>