<section id="aPropos" class="a-propos mb-5">
    <div class="a-propos-title">
        <h2 >< /à propos></h2>
    </div>
    <div>
        <p class="description"> Audrey Metayer - Développeuse full stack junior - PHP Symfony  - React - Actuellement stagiaire en création d’application web chez
            <span>
                <a class="smile" href="https://www.smile.eu/fr">
                Smile
                </a>
            </span> à Bordeaux.
        </p>
    </div>
</section>