{% extends 'base.html.twig' %}

{% block title %}Audrey Metayer - Portfolio{% endblock %}


{% block body %}

<div class="content">
    <section class="mb-5">
        <div class="d-flex justify-content-center mt-4">
            <p class="firstname">Audrey</p>
            <p class="lastname">Metayer</p>
            <img class="audrey-img" src="{{ asset('build/audrey.JPG') }}" alt="Audrey Metayer">
            <div class="home-arch"></div>
            <p class="balise">< /></p>
        </div>
        <h1>Développeuse full stack junior</h1>
    </section>

    {% include 'home/_section_apropos.html.twig' %}
    {% include 'home/_section_projets.html.twig' %}
    {% include 'home/_section_contact.html.twig' %}

</div>

{% endblock %}
