{% extends 'base.html.twig' %}

{% block title %}Audrey Metayer - Portfolio{% endblock %}


{% block body %}

    <section id="aPropos">
        <h2>< /à propos></h2>
    </section>

    <section id="projets">
        <h2>< /projets></h2>
    </section>

    <section id="contact">
        <h2>< /contact></h2>
    </section>

{% endblock %}
