<div class="footer">
    <div>
    <a href="#">< /audrey_metayer></a>
    </div>
    <div class="mx-3">
        <a class="footer-space" href="#">< /à propos></a>
        <a class="footer-space" href="#">< /projets></a>
        <a class="footer-space" href="#">< /contact></a>
    </div>
    <div>
        <a class="footer-space" href="https://www.linkedin.com/in/audrey-m%C3%A9tayer-6b47399a/">< /linkedin></a>
        <a class="footer-space" href="https://github.com/AudreyMetayer">< /github></a>
    </div>
</div>
