footer{
  bottom: 0;
  background-color: $black;
  height: 70px;
  margin-top: 2em;

}

div.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a.footer-space{
  margin-right: 2em;
}